workflow-automated-trends.json
{
    "name": "YouTube Shorts - Automated Daily",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 8 * * *"
                        }
                    ]
                }
            },
            "id": "daily-trigger",
            "name": "Daily 8 AM Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                400
            ]
        },
        {
            "parameters": {
                "url": "https://trends.google.com/trending/rss?geo=US",
                "options": {}
            },
            "id": "get-trends",
            "name": "Get Google Trends",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                400
            ]
        },
        {
            "parameters": {
                "dataPropertyName": "data",
                "options": {}
            },
            "id": "parse-rss",
            "name": "Parse RSS XML",
            "type": "n8n-nodes-base.xml",
            "typeVersion": 1,
            "position": [
                680,
                400
            ]
        },
        {
            "parameters": {
                "numberToReturn": 1,
                "randomize": true
            },
            "id": "pick-trend",
            "name": "Pick Random Trend",
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "trend-title",
                            "name": "trend_title",
                            "value": "={{ $json.rss.channel[0].item[0].title[0] }}",
                            "type": "string"
                        },
                        {
                            "id": "trend-traffic",
                            "name": "trend_traffic",
                            "value": "={{ $json.rss.channel[0].item[0]['ht:approx_traffic'][0] }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "extract-trend",
            "name": "Extract Trend Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1120,
                400
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "script-input",
                            "name": "script",
                            "value": "Breaking news! {{ $json.trend_title }} is trending with over {{ $json.trend_traffic }} searches. This topic is exploding on the internet right now. Don't miss out on what everyone's talking about!",
                            "type": "string"
                        },
                        {
                            "id": "search-input",
                            "name": "search_term",
                            "value": "={{ $json.trend_title.split(' ').slice(0, 3).join(' ') }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "prepare-script",
            "name": "Prepare Script",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1340,
                400
            ]
        },
        {
            "parameters": {
                "command": "python3",
                "arguments": "/home/node/shorts_maker.py\n={{ $json.script }}\n={{ $json.search_term }}"
            },
            "id": "generate-video",
            "name": "Generate Video",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1560,
                400
            ]
        },
        {
            "parameters": {
                "fileSelector": "={{ $json.stdout.trim() }}"
            },
            "id": "read-video",
            "name": "Read Video File",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                1780,
                400
            ]
        },
        {
            "parameters": {
                "resource": "video",
                "operation": "upload",
                "title": "={{ $('Extract Trend Data').item.json.trend_title }} #Shorts #Trending",
                "description": "Automated trending update powered by n8n\\n\\n#{{ $('Prepare Script').item.json.search_term.replace(/ /g, '') }} #Viral #Trending",
                "privacyStatus": "public",
                "categoryId": "22",
                "binaryPropertyName": "data"
            },
            "id": "upload-youtube",
            "name": "Upload to YouTube",
            "type": "n8n-nodes-base.youtube",
            "typeVersion": 2,
            "position": [
                2000,
                400
            ],
            "credentials": {
                "youtubeOAuth2Api": {
                    "id": "YOUR_YOUTUBE_CREDENTIAL_ID",
                    "name": "YouTube OAuth2"
                }
            }
        }
    ],
    "connections": {
        "Daily 8 AM Trigger": {
            "main": [
                [
                    {
                        "node": "Get Google Trends",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Google Trends": {
            "main": [
                [
                    {
                        "node": "Parse RSS XML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse RSS XML": {
            "main": [
                [
                    {
                        "node": "Pick Random Trend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pick Random Trend": {
            "main": [
                [
                    {
                        "node": "Extract Trend Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Trend Data": {
            "main": [
                [
                    {
                        "node": "Prepare Script",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Script": {
            "main": [
                [
                    {
                        "node": "Generate Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Video": {
            "main": [
                [
                    {
                        "node": "Read Video File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Video File": {
            "main": [
                [
                    {
                        "node": "Upload to YouTube",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-22T17:30:00.000Z",
    "versionId": "1"
}