youtubeWorkflow.json
{
  "name": "YouTube Shorts Bot (Final Production)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Trigger (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://trends.google.com/trends/trendingsearches/daily/rss?geo=US",
        "options": {}
      },
      "id": "get-trends",
      "name": "Get Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        580,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "parse-rss",
      "name": "Parse RSS XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "id": "split-items",
      "name": "Split Trend List",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        980,
        300
      ],
      "notes": "CRITICAL: Separates the RSS feed into 20 individual items so we can pick one."
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "pick-random",
      "name": "Pick Random Trend",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "modelId": "gemini-1.5-flash",
        "messages": {
          "values": [
            {
              "content": "=You are a YouTube Shorts scriptwriter. \n\nTOPIC: {{ $json.title }}\nDETAILS: {{ $json.description }}\n\nWrite a 40-second script about this trend. It must be high energy.\nAlso provide a generic search term for stock footage.\n\nRETURN JSON ONLY:\n{ \"script\": \"...\", \"search_term\": \"...\" }"
            }
          ]
        }
      },
      "id": "google-gemini",
      "name": "AI Script Writer",
      "type": "n8n-nodes-base.googleGeminiChat",
      "typeVersion": 1,
      "position": [
        1380,
        300
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Robust Parsing: Finds the JSON object even if AI adds extra text\nconst content = items[0].json.content;\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n\nif (jsonMatch) {\n    return { json: JSON.parse(jsonMatch[0]) };\n} else {\n    throw new Error(\"No JSON found in AI response\");\n}"
      },
      "id": "clean-json",
      "name": "Format JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "command": "=python3 /home/node/shorts_maker.py \"{{ $json.script.replace(/\"/g, '\\\\\"').replace(/\\n/g, ' ') }}\" \"{{ $json.search_term }}\""
      },
      "id": "generate-video",
      "name": "Generate Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.stdout.trim() }}"
      },
      "id": "read-file",
      "name": "Read Video File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Pick Random Trend').item.json.title }} #Shorts",
        "description": "={{ $('Pick Random Trend').item.json.description }}\n\n#{{ $('Format JSON').item.json.search_term }}",
        "privacyStatus": "private",
        "binaryPropertyName": "data"
      },
      "id": "upload-youtube",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.googleYoutube",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "YOUR_YOUTUBE_CREDENTIAL_ID",
          "name": "YouTube Account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger (8 AM)": {
      "main": [
        [
          {
            "node": "Get Google Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Trends": {
      "main": [
        [
          {
            "node": "Parse RSS XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS XML": {
      "main": [
        [
          {
            "node": "Split Trend List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Trend List": {
      "main": [
        [
          {
            "node": "Pick Random Trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random Trend": {
      "main": [
        [
          {
            "node": "AI Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Script Writer": {
      "main": [
        [
          {
            "node": "Format JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}